@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('./Source_Sans_3/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}