@import url('../assets/fonts/fonts.css');

.main_sections {
  height: auto;
  padding: 10px 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;

  @media screen and (min-width: 821px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 250px);
    padding: 15px 60px;
  }

  @media screen and (max-width: 820px) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, 250px);
    padding: 15px 40px;
  }

  @media screen and (min-width: 700px) and (max-width: 820px) {
    padding: 15px 80px;
  }

  & .div_section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transform: scale(1);
    transition: all 0.7s, background-size 1s ease;
    user-select: none;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      position: absolute;
      z-index: -2;
      transform: scale(1);
      transition: all 0.7s;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px rgb(0, 0, 0);
      transition: 0.7s;

      &>a {
        color: white;
        text-shadow: 0 0 5px rgb(0, 0, 0);
        transition: 0.7s;
      }

      &>img {
        transform: scale(1.2);
        transition: 0.7s;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        transition: 0.7s;
      }
    }

    & a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 3.5em;
      font-family: 'Nunito';
      font-weight: 600;
      text-decoration: none;
      color: black;
      width: 100%;
      height: 100%;
      position: absolute;
      user-select: none;

      @media screen and (max-width: 820px) {
        font-size: 2.5rem;
      }
    }
  }
}