@import url('./../assets/fonts/fonts.css');

.basket {
  width: 100%;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(222, 184, 135);
  margin-bottom: 20px;

  h1 {
    font-size: 2.5em;
    text-align: center;
    color: #444;
    margin-bottom: 20px;

    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
  }

  .basket_items {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;

    @media screen and (max-width: 1251px) {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    @media screen and (max-width: 890px) {
      grid-template-columns: minmax(200px, 1fr);
    }
  }

  .basket_item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 890px) {
      flex-direction: column;
      text-align: center;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .item_image {
      width: 100px;
      margin-right: 10px;
      object-fit: cover;

      @media screen and (max-width: 1251px) {
        width: 200px;
      }

      @media screen and (max-width: 890px) {
        width: 300px;
      }
    }

    .item_details {
      flex: 1;
      display: flex;
      flex-direction: column;

      .item_name {
        font-size: 1.5rem;
        margin: 0;
        color: #333;
      }

      .item_creator {
        font-size: 1rem;
        color: #666;
        margin: 5px 0;
      }

      .item_price {
        font-size: 1.2rem;
        font-weight: bold;
        color: #000;
      }
    }

    .button_remove {
      width: 75px;
      height: 50px;
      border: none;
      border-radius: 10px;
      background: none;
      font-weight: 800;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      @media screen and (max-width: 890px) {
        width: 100%;
        margin-top: 10px;
      }

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .empty_message {
    font-size: 1.5rem;
    color: #777;
    text-align: center;
    line-height: 1.5;

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }
}