@import url('../assets/fonts/fonts.css');

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  & .logo {
    margin-left: 20px;
  }

  & .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 300px;
    background-color: #333;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Montserrat';

    & input {
      width: 85%;
      align-self: stretch;
      background: none;
      border: none;
      border-bottom: 1px solid #646464;
      color: white;
      font-size: 1.2em;

      &::placeholder {
        padding-left: 5px;
      }

      &:focus {
        outline: none;
      }
    }

    & button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #333;
      color: white;
    }
  }

  // навигация больше 840px
  & .nav_fullscreen {
    display: flex;
    justify-content: space-between;

    & a {
      color: white;
      display: inline-block;
      margin-right: 55px;
      text-decoration: none;
      position: relative;
      font-family: 'Montserrat';

      &:active {
        color: red;
      }

      // кастом подчеркивание при наведении
      &::before {
        content: '';
        position: absolute;
        height: 1px;
        bottom: -2px;
        left: 50%;
        width: 0;
        background-color: white;
        transition: left 0.3s ease, width 0.3s ease;
      }

      &:hover>div>svg {
        transform: scale(1.2);
        transition: 0.7s;
      }

      &:hover::before {
        left: -10%;
        width: 120%;
      }

      // *********************************
      &:link {
        color: white;
      }

      & svg {
        margin-left: 8px;
        transform: scale(1);
        transition: transform 0.7s ease-out;
      }

      & p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  header {
    & .search {
      display: none;
    }

    & .burger_menu {
      margin-right: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    & .nav_sidebar {
      display: block;

      & .sidebar_content {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(197, 197, 197, 0.562);
        backdrop-filter: blur(10px);
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &.hide {
          transform: translateX(100%);
          transition: transform 0.3s ease-in-out;
        }

        &.show {
          transform: translateX(0);
          transition: transform 0.3s ease-in-out;
        }

        & .close {
          width: 100%;
          display: flex;
          justify-content: center;
          cursor: pointer;

          &:hover {
            transform: fill(red);
            transition: color 0.3s ease-in-out;
          }
        }

        & a {
          text-decoration: none;
          // margin: 30px 0 0 35px;
          color: #000;
          width: 100%;

          &:active {
            color: red;
          }
        }

        & a div {
          padding: 30px 0;
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transform: scale(1);
          transition: transform 0.4s ease-in-out;

          & svg {
            position: absolute;
            left: 35px;

            &:hover {
              transform: scale(1.4);
              transition: transform 0.4s ease-in-out;
            }
          }

          & p {
            font-size: 1.1rem;
            margin-left: 30px;
            font-family: 'Nunito';
          }
        }
      }
    }
  }
}