.main_current {
	display: grid;
	height: auto;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 50px 50px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	& .div_item {
		background: #e7e7e7;
		padding: 10px 0;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		border: 2px solid black;
		width: 100%;
		height: 100%;
		font-family: 'Source Sans 3';
		transform: scale(1);
		transition: all 0.3s;
		overflow: hidden;
		&:hover {
			transform: scale(1.02);
			border-radius: 10px;
			transition: 0.3s;
		}
		& img {
			user-select: none;
			max-width: 100%;
			height: auto;
			filter: drop-shadow(2px 2px 7px black);
		}
		& h2 {
			text-align: center;
			font-size: 1.2em;
			justify-self: center;
		}
		& p {
			text-align: center;
			font-size: 1em;
			justify-self: center;
		}

		& .btn_buy {
			width: 65%;
			height: 50px;
			border-radius: 25px;
			border: none;
			outline: none;
			color: black;
			background-color: transparent;
			font-size: 20px;
			font-weight: bold;
			cursor: pointer;
			transition: all 0.3s;
			&:hover {
				background-color: rgb(0, 0, 0);
				color: white;
				transition: 0.4s;
			}
		}
	}
}

.inactive {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	& p {
		text-align: center;
		font-size: 1.8rem;
		font-family: 'Montserrat';
	}
}

@media screen and (max-width: 840px) {
	.main {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}

.h1 {
	line-height: 0;
	padding-top: 35px;
}
