@import url("./assets/fonts/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

body {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  background-color: rgb(222, 184, 135);
}

h1 {
  text-align: center;
  font-family: "Montserrat";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #2912be 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}